label{
    width: 160px;
    display: block;
    float: left;
}

button{
    position:absolute;
    transition: .5s ease;
    top: 45%;
    left: 3%;
    padding: 10px;
    width: 300px;
}

#size, #watering_rep, #watering_duration{
    width: 40px;
}

#input_date{
    width: 60px;
}
