<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pepe</title>
    <script type="application/x-javascript" src="../scripts/formulaire.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <label for="prev_cult">Précédents de culture :</label><input type="text" id="prev_cult"> </input> <br/><br/>
    <label for="size">Taille de la culture :</label><input type="text" id="size"> </input> <br/><br/>
    <label for="type">Type de sol :</label><input type="text" id="type"> </input> <br/><br/>
    <label for="type_cult">Type de culture :</label><input type="text" id="type_cult"> </input> <br/><br/>
    <label for="watering">Arrosage :</label><input type="text" id="watering"> </input> <br/><br/>
    <label for="input_date">Date de semis :</label><input type="text" id="input_date"> </input> <br/><br/>
    <label for="amendment">Amendement :</label><input type="checkbox" id="amendment"> </input> <br><br/>
    <label for="fertilisation">Fertilisation :</label><input type="checkbox" id="fertilisation"> </input> <br/><br/>
    <label for="work">Travail du sol :</label><input type="checkbox" id="work"> </input> <br/><br/>
    <button type="button" onclick="valid_area();"> valider </button>
</body>
</html>