<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pepe</title>
</head>
<body>
    Précédents de culture   <input type="text" id="prev_cult"> </input> <br/><br/>
    Taile de la parcelle    <input type="text" id="size"> </input> <br/><br/>
    Type de sol             <input type="text" id="type"> </input> <br/><br/>
    Amendements/Fertilisation <br/>
                    Amendement           <input type="checkbox" id="amendment"> </input>
                    Fertilisation        <input type="checkbox" id="fertilisation"> </input> <br/><br/>

    Travail du sol          <input type="checkbox" id="work"> </input> <br/><br/>
    Type de culture/variété <input type="text" id="type_cult"> </input> <br/><br/>
    Arrosage                <input type="text" id="watering"> </input> <br/><br/>
    Date de semis           <input type="text" id="input_date"> </input> <br/><br/>
</body>
</html>